//* Colors
$base_color: #005de1;
$additional_color: #000000;
// -----------------------------------------------------------

//* Default size
$height_navbar: 80px;
// -----------------------------------------------------------

//* Custom container width, fix gutter as in the bootstrap 4
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  //xxl: 1320px
);

$grid-gutter-width: 1.875rem;
// -----------------------------------------------------------

//* Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  5: 0.3125rem,
  10: 0.625rem,
  15: 0.9375rem,
  20: 1.25rem,
  25: 1.5625rem,
  30: 1.875rem,
  35: 2.1875rem,
  40: 2.5rem,
  45: 2.8125rem,
  50: 3.125rem,
  60: 3.75rem,
  80: 5rem,
  100: 6.25rem,
);
// -----------------------------------------------------------
